.vs
.idea
.vscode

scripts/.idea
scripts/post_create_zip_release.toml

src/.idea/
src/**/__pycache__
src/**/*.pyd
out/

# These are 'hidden' and always available; Having them for IDE support.
src/pyunrealsdk/
src/unrealsdk/